.jumbotron {
	background-color: black;
	color: white;
	margin-top: 50px;
	
} 

.btn {
	background-color: black;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: darkblue;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
}

.card-solar { 
	flex: 1 200px;	
	
	margin-top: 10px;
 }

.btn-reserva {
	width: 100%
	
}

.footer-address-icon  {
	padding-right: 10px;

}

.tab-content{
	padding-top: 10px;
	
}
