.jumbotron {
  background-color: #030000;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: #030000; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #040c82;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #ffffff; }

.card-solar {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
