@black:#030000;
@darkblue:#040c82;
@white:#ffffff;

.margenes (@top:0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @black;
  color: @white;
  .margenes(50px, 0px);
}

.btn {
  background-color: @black; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: @darkblue;
  .margenes(10px, 0px);
  color: @white; }

.card-solar {
  flex: 1 200px;
  .margenes(10px,0px);
  }



.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;

 }